# Next.js build output
.next/

# Local environment variables
.env.local
.env

# Dependency directory
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac files
.DS_Store

# Test coverage
/coverage/

# Build
dist/
build/

# IDE settings
.vscode/
